.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather {
  text-align: center;
  width: 340;
  padding: 24px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.weather_form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.weather_input {
  width: 300px;
  box-sizing: border-box;
  padding: 15px 40px 15px 15px;
  border-radius: 20px;
  font-size: 22px;
}

.weather_button {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;

}

.weather_button svg {
  width: 20px;
  height: 20px;
}

.weather_temp,
.weather_info {
  font-size: 24px;
  font-weight: 600;
}